.applications {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 20px 4px #00000040;
    height: 183px;
    width: 187px;
  }
  
  .applications .inner-content-3 {
    height: 143px;
    left: 10px;
    position: relative;
    top: 8px;
    width: 88px;
  }
  
  .applications .text-wrapper-6{
    color: #000000;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    white-space: nowrap;
  margin-left: 30px;
  }
  
  .applications .img-3 {
    height: 74px;
    left: 40px;
    position: absolute;
    top: 59px;
    width: 86px;
  }
  
  
 
  

  
