.applicantCardApprovedeny1 {
  position: relative;
  margin: 0 28px 0 40px;
  display: flex;
  align-items: center;
  
  text-align: left;
  font-size: 24px;
  color: #000;

  font-family: "SF Pro Display-Regular", Helvetica;

  border-radius: 20px;
  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  cursor: pointer;
}

.ellipse {
  height: 71px;
  width: 71px;
  margin: 17px 0 19px 32px;
  border-radius: 50%;
  background-color: rgba(158, 158, 158, 0.58);
  border: 2px solid #4d4d4d;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.initials {

  font-family: 'SF Pro Display' , Helvetica;
  color:#ffffff;
}
.name {
  margin: 17px 0px 0px 133px;
  white-space: nowrap;

}
.number{
  margin: 50px 0 42px 350px;
  font-size: 16px;
  font-family: "SF Pro Display-Regular", Helvetica;
  color: #9e9e9e;
  
}

.email1 {
  position: absolute;
  margin: 50px 0 42px 133px;
  font-size: 16px;
  font-family: "SF Pro Display-Regular", Helvetica;
  color: #9e9e9e;
}

.thumbsContainer {
  position: absolute;
  right: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 24px 0 26px 0;
}

.thumbsUpIcon {
  color: green;
  cursor: pointer;
  margin-right: 23px;
  font-size: 2rem;
}

.thumbsDownIcon {
  color: red;
  cursor: pointer;
  margin-right: 31px;
  font-size: 2rem;
}

.review23 {
  
  font-size: 24px;
  font-weight: 500;
  font-family: "SF Pro Display-Regular", Helvetica !important;
  color: #f2a900;
  text-align: left;
  display: inline-block;
  width: 80px;
  

}
.applicantStatus23 {
  
  border-radius: 10px;
  background-color: rgba(242, 169, 0, 0.12);
  border: 2px solid #f2a900;
  box-sizing: border-box;
  padding: 14px 39px;
  cursor: pointer;
  display: inline-block;
}

.description{
  margin-bottom: 31px;
}
.label50{
  margin-bottom: 31px;
}
.availability1{
  font-family: "SF Pro Display-Regular", "Helvetica";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 31px;
  color:#4c4c4c;
}

/* Add any other styles as needed */
