.ece-logo-png {
  background-image: url(CCLogo.svg);
  background-position: 0% 0%;
  position: relative;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 40px;
  width: 300px;
  position: fixed;
}

