@font-face {
  font-family: "SF Pro Display-Bold";
  src: url("../../../../fonts/SFPRODISPLAYBOLD.OTF");
}

.classe {
  font-size: 32px;
  font-family: 'SF Pro Display-Bold', Helvetica;
  color: #000;
  margin-left: 40px;
}
.semester {
  font-size: 28px;
  font-family: 'SF Pro Display', Helvetica;
  color: #000;
  margin-right: 29px;
}
.TAtext {
  position: relative;
  font-size: 36px;
  font-family: 'SF Pro Display-Bold', Helvetica;
  color: #000;
  text-align: left;
}
