.full-name-and-bio {
  height: 295px;
  position: relative;
  width: 408px;
  margin-top: -135px;
  margin-left: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-name-and-bio .ellipse {
  background-color: #9d9d9d;
  border: 5px solid;
  border-color: #ffffff;
  border-radius: 100px;
  height: 200px;
  width: 190px;
 
}

.full-name-and-bio .text-wrapper {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
 
  white-space: nowrap;
}

.full-name-and-bio .div {
  color: #6c6c6c;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
}


.rectangle1 {
  background-color: #e6e6e6;
  height: 58vh;
  
  width: 2px;
  margin-left: auto;
  margin-right: auto;
}

.info{
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  width: 152px;
  margin-bottom: 36.59px;
}
.rectangle2 {
  background-color: #e5e5e5;
  height: 2px;
  width: 591px;
}
.firstName{
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  width: 90px;
}
.lastName{
  margin-left: 159px;
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  width: 90px;
  
}
.firstname-input{
  background-color: #ffffff;
  border: 1px solid;


  height: 56px;
  border-radius: 9px;
  width: 193px;

  
 
}
.lastname-input{
  background-color: #ffffff;
  border: 1px solid;

  margin-left: 58px;
  border-radius: 9px;
  height: 56px;
  width: 193px;
}
.firstname-border{
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to bottom, rgb(9, 251, 211), rgb(255, 111, 241)) 1;
  padding: 3px;
}
.lastname-border{
  
}
