.layout {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  margin-top: 380px;
}

.layout .left-section,
.layout .right-section {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: center;
}

.layout .right-section {
  width: 50vw;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.layout .left-section .full-name-and-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.layout .left-section .full-name-and-bio .ellipse {
  background-color: #9d9d9d;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 96px;
  line-height: 1;
}

.full-name-and-bio .text-wrapper {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-transform: capitalize;
}

.full-name-and-bio .email-address {
  color: #6c6c6c;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  white-space: nowrap;
}

/* The vertical divider between sections */

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-width: 50vw;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.profile-container .title {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  padding: 2px;
}

.firstName,
.lastName {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 36px;
  padding: 2px;
  white-space: nowrap;
  width: 50%;
}

.firstname-input,
.lastname-input {
  background-color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  padding-left: 8px;
  border: 1px solid;
  height: 36px;
  border-radius: 8px;
}

.firstname-border,
.lastname-border {
  width: 50%
}

@media (max-width: 1300px) {
  .profileLineContainer{
    display:flex;
    justify-content: left;
    gap:80px;
  }
  .rectangle2 {
    background-color: #e5e5e5;
    height: 2px;
    width: 391px;
  }
}
/* Responsive design for smaller screens */
@media (max-width: 1100px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    width: 100%;
    /* text-align: center; */
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 100px;
  }

  .initials {
    color: #ffffff;
    font-size: 70px;
  }
 
  .full-name-and-bio {
    margin-top: 175px;
    width: 100%;
    margin-left: 0;
  }

  .full-name-and-bio .ellipse {
    width: 155px;
    height: 155px;
    font-size: 72px;
  }

  .full-name-and-bio .text-wrapper {
    font-size: 36px;
  }

  .full-name-and-bio .email-address {
    font-size: 18px;
  }

  .firstname-input,
  .lastname-input {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .rectangle1 {
    display: none; /* Remove the divider on smaller screens */
  }

  .formContainerProfile{
    flex-grow: 2;
    flex-shrink: 1;
  }
}
