.log-in-card {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 4px 35px #00000014;
  height: 537px;
  position: relative;
  width: 539px;
}

.log-in-card .input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
    outline: none;

}

.log-in-card .welcome-to-course {
  color: transparent;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43px;
}

.log-in-card .text-wrapper {
  color: #000000;
}

.log-in-card .span {
  color: #562eba;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
}

.log-in-card .div {
  color: #000000;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 55px;
  font-weight: 500;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  white-space: nowrap;

}

.log-in-card .email-address-input {
  height: 91px;
  left: 44px;
  position: absolute;
  top: 120px;
  width: 453px;
}

.log-in-card .text-wrapper-2 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.log-in-card .overlap-group-wrapper {
  height: 57px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 453px;
}

.log-in-card .overlap-group {
  background-color: #ffffff;
  border-radius: 40px;
  height: 57px;
  position: relative;
  width: 451px;
}

.log-in-card .text-wrapper-3 {
  color: #6c6c6c;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  white-space: nowrap;
    outline: none;
}

.log-in-card .password-input {
  height: 91px;
  left: 44px;
  position: absolute;
  top: 240px;
  width: 453px;
}


.log-in-card .text-wrapper-4:hover {
  cursor: pointer; 
  text-decoration: underline; 
}

.log-in-card .sign-in-button {
  height: 54px;
  left: 44px;
  position: absolute;
  top: 365px;
  width: 453px;
  display: flex;
  justify-content: center; 
  align-items: center;   
}
.log-in-card .password-forgot-text {
  height: 54px;
  left: 44px;
  position: absolute;
  top: 425px;
  width: 453px;
  display: flex;
  justify-content: center; 
  align-items: center;   
}
.log-in-card .sign-up-text {
  height: 54px;
  left: 44px;
  position: absolute;
  top: 470px;
  width: 453px;
  display: flex;
  gap:3px;
  justify-content: center; 
  align-items: center;   
}

.log-in-card .overlap {
  background-color: #562eba;
  border-radius: 10px;
  box-shadow: 0px 4px 19px #7793414c;
  height: 54px;
  position: relative;
  width
  : 451px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  width: 100%; 
}

.log-in-card .overlap:hover {
  cursor: pointer; 
}



.log-in-card .text-wrapper-5 {
  color: #ffffff;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  text-align: center; /* Centers the text within the button */
  width: 100%; 
}


@media (max-width: 570px) {
  .log-in-card{
    max-width: 100%;
  }
  .log-in-card .overlap {
    width: 300px;
  }
  .log-in-card .sign-in-button  {
    left: -20px;
  }
  .log-in-card .text-wrapper-4{
    left: 270px;
  }
}


