.navbar {
  position: relative;
  height: 60px;
  background: linear-gradient(
    90deg,
    #21207a 0%,
    #34218f 10%,
    #33228e 20%,
    #1b5c93 30%,
    #159ca5 35%,
    #19a0a7 38%,
    #2196a7 41%,
    #306e9c 46%,
    #35228f 60%,
    #34218f 70%,
    #241b75 80%,
    #231d7b 90%,
    #21207a 100%
  );
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #fff;
  justify-content: space-between;
}
.navbar .ece-logo-png-2 {
    left: 27px;
    height: 80px;   
    width: 300px;  
    top:10px;
  }
  
  .navbar .top-nav-bar-signed-in {
    right: 90px;
  }

  