.status-card2 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 4px #00000040;
  height: 322px;
  position: relative;
  width: 456px;
}

.status-card2 .overlap {
  height: 186px;
  left: 34px;
  position: absolute;
  top: 12px;
  width: 204px;
}

.status-card2 .inner-content {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 159px;
}

.status-card2 .text-wrapper-6 {
  color: #562EBA;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 65%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.status-card2 .coarse-assistant-wrapper {
  height: 29px;
  left: 30px;
  position: absolute;
  top: 54px;
  width: 572px;
}

.status-card2 .text-wrapper-7 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 30;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.status-card2 .overlap-2 {

  color: black;
  height: 100px;
  left: 100px;
  position: absolute;
  top: 0;
  width: 104px;
}

.status-card2 .div-wrapper {

  color: black;
  height: 19px;
  left: 0;
  position: absolute;
  top: 88px;
}

.status-card2 .text-wrapper-8 {
  color: black;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.status-card2 .rectangle {
  background-color: #9d9d9d;
  height: 2px;
  left: 100px;
  position: absolute;
  top: 92px;
  transform: rotate(90deg);
  width: 186px;
}

.status-card2 .inner-content-2 {
  height: 29px;
  left: 354px;
  position: absolute;
  top: 66px;
  width: 197px;
}

.status-card2 .text-wrapper-9 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.status-card2 .application-button {
  height: 43px;
  left: 454px;
  position: absolute;
  top: 60px;
  width: 226px;
  margin-top: 10px;
}

.status-card2 .overlap-group-2 {
  background-color: #f2a9001f;
  border: 1px solid;
  border-color: #f2a900;
  border-radius: 10px;
  height: 43px;
  position: relative;
  width: 224px;
}

.status-card2 .text-wrapper-10 {
  color: #f2a900;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 182px;
}

.status-card2 .coarse-assistant-wrapper2 {
  height: 29px;
  left: 30px;
  position: absolute;
  top: 119px;
  width: 572px;
}

.status-card2 .text-wrapper-8 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 30;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.status-card2 .coarse-assistant-wrapper3 {
  height: 29px;
  left: 10px;
  position: absolute;
  top: 209px;
  width: 572px;
}

.status-card2 .text-wrapper-9 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}
